@import "@/styles/variables.scss";


.todo {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  border: 2px solid $text;
  border-radius: 10px;
  transition: all .3s ease-in-out;
  animation: appearanceY .3s ease-in-out;

  &:hover {
    box-shadow: 0 0 20px 10px $title-hover;
  }

  &__title {
    font-size: 20px;
    color: $title;
  }

  &__text {
    font-size: 20px;
    color: $text;
  }
}

@keyframes appearanceY {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appearanceYMobile {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
